html {
  height: 100%;
}

body {
  margin: 0;
}

#pc { display: block; }
#sp { display: none; }

.back {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.A {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 127.5px;
  width: 100%;
  top: 10%;
}

.B {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 127.5px;
  width: 100%;
  top: 40%;
}

.C {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 127.5px;
  width: 100%;
  top: 70%;
}

.sizeA {
  height: 127.5px;/* 85×1.5  85*/
  width: 112.5px;/* 75×1.5  75*/
}

.sizeAa {
  height: 127.5px;/* 85×1.5  85*/
  width: 112.5px;/* 75×1.5  75*/
}

.sizeBb {
  height: 127.5px;/* 85×1.5  85*/
  width: 262.5px;/* 175×1.5  175*/
}

.sizeC {
  height: 127.5px;/* 85×1.5  85*/
  width: 112.5px;/* 75×1.5  75*/
}

@media screen and (max-width:949px) {
  .A {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 127.5px;
    width: 100%;
    top: 12%;
  }
  
  .B {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 119px;
    width: 100%;
    top: 40.5%;
  }
  
  .C {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 110.5px;
    width: 100%;
    top: 68%;
  }

  .sizeA {
    height: 127.5px;/* 85×1.5  85*/
    width: 112.5px;/* 75×1.5  75*/
  }

  .sizeBa {
    height: 119px;/* 85×1.4  85*/
    width: 105px;/* 75×1.4  85*/
  }
  
  .sizeBb {
    height: 119px;/* 85×1.4  85*/
    width: 245px;/* 175×1.4  85*/
  }

  .sizeC {
    height: 110.5px;/* 85×1.3  85*/
    width: 97.5px;/* 75×1.3  85*/
  }
}

@media screen and (max-width:849px) {
  .A {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 127.5px;
    width: 100%;
    top: 13.5%;
  }
  
  .B {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 110.5px;
    width: 100%;
    top: 42%;
  }
  
  .C {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 102px;
    width: 100%;
    top: 70%;
  }

  .sizeBa {
    height: 110.5px;/* 85×1.3  85*/
    width: 97.5px;/* 75×1.3  85*/
  }
  
  .sizeBb {
    height: 110.5px;/* 85×1.3  85*/
    width: 227.5px;/* 175×1.3  85*/
  }

  .sizeC {
    height: 102px;/* 85×1.2  85*/
    width: 90px;/* 75×1.2  85*/
  }
}

@media screen and (max-width:749px) {
  .A {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 127.5px;
    width: 100%;
    top: 13.5%;
  }
  
  .B {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 116.45px;
    width: 100%;
    top: 33.7%;
  }
  
  .C {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 89.25px;
    width: 100%;
    top: 70%;
  }

  .sizeBa {
    height: 116.45px;/* 85×1.37  85*/
    width: 102.75px;/* 75×1.37  85*/
  }
  
  .sizeBb {
    height: 116.45px;/* 85×1.37  85*/
    width: 239.75px;/* 175×1.37  85*/
  }

  .sizeC {
    height: 89.25px;/* 85×1.05  85*/
    width: 78.75px;/* 75×1.05  85*/
  }
}

@media screen and (max-width:649px) {
  .A {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 110.5px;
    width: 100%;
    top: 16.5%;
  }
  
  .B {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 102px;
    width: 100%;
    top: 36%;
  }
  
  .C {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 80.75px;
    width: 100%;
    top: 69.5%;
  }

  .sizeA {
    height: 110.5px;/* 85×1.3  85*/
    width: 97.5px;/* 75×1.3  85*/
  }

  .sizeBa {
    height: 102px;/* 85×1.2  85*/
    width: 90px;/* 75×1.2  85*/
  }
  
  .sizeBb {
    height: 102px;/* 85×1.2  85*/
    width: 210px;/* 175×1.2  85*/
  }

  .sizeC {
    height: 80.75px;/* 85×0.95  85*/
    width: 71.25px;/* 75×0.95  85*/
  }
}

@media screen and (max-width:599px) {
  #pc { display: none; }
  #sp { display: block; }

  .A {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 102px;
    width: 100%;
    top: 20%;
  }
  
  .B {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 93.5px;
    width: 100%;
    top: 38.5%;
  }
  
  .C {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 72.25px;
    width: 100%;
    top: 70%;
  }

  .sizeA {
    height: 102px;/* 17×6  85*/
    width: 90px;/* 15×6  75*/
  }

  .sizeBa {
    height: 93.5px;/* 85×1.1  85*/
    width: 82.5px;/* 75×1.1  85*/
  }
  
  .sizeBb {
    height: 93.5px;/* 85×1.1  85*/
    width: 192.5px;/* 175×1.1  175*/
  }

  .sizeC {
    height: 72.25px;/* 85×0.85  85*/
    width: 63.75px;/* 75×0.85  85*/
  }
}

@media screen and (max-width:550px) {
  .C {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 68px;
    width: 100%;
    top: 70%;
  }

  .sizeA {
    height: 102px;/* 17×6  85*/
    width: 90px;/* 15×6  75*/
  }

  .sizeC {
    height: 68px;/* 17×4  85*/
    width: 60px;/* 15×4  75*/
  }
}

@media screen and (max-width:509px) {
  .A {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 93.5px;
    width: 100%;
    top: 20%;
  }
  
  .B {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 80.75px;
    width: 100%;
    top: 40%;
  }

  .C {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 59.5px;
    width: 100%;
    top: 70%;
  }

  .sizeA {
    height: 93.5px;/* 17×5.5  85*/
    width: 82.5px;/* 15×5.5  75*/
  }

  .sizeBa {
    height: 80.75px;/* 85×0.95  85*/
    width: 71.25px;/* 75×0.95  85*/
  }
  
  .sizeBb {
    height: 80.75px;/* 85×0.95  85*/
    width: 166.25px;/* 175×0.95  175*/
  }

  .sizeC {
    height: 59.5px;/* 17×3.5  85*/
    width: 52.5px;/* 15×3.5  75*/
  }
}

@media screen and (max-width:439px) {
  .A {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 85px;
    width: 100%;
    top: 25%;
  }
  
  .B {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 72.25px;
    width: 100%;
    top: 43%;
  }

  .C {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 51px;
    width: 100%;
    top: 70%;
  }

  .sizeA {
    height: 85px;/* 17×5  85*/
    width: 75px;/* 15×5  75*/
  }

  .sizeBa {
    height: 72.25px;/* 85×0.85  85*/
    width: 63.75px;/* 75×0.85  85*/
  }
  
  .sizeBb {
    height: 72.25px;/* 85×0.85  85*/
    width: 148.75px;/* 175×0.85  175*/
  }

  .sizeC {
    height: 51px;/* 17×3  85*/
    width: 45px;/* 15×3  75*/
  }
}

@media screen and (max-width:384px) {
  .B {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 68px;
    width: 100%;
    top: 44%;
  }

  .C {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 47.6px;
    width: 100%;
    top: 70%;
  }

  .sizeBa {
    height: 68px;/* 85×0.8  85*/
    width: 60px;/* 75×0.8  85*/
  }
  
  .sizeBb {
    height: 68px;/* 85×0.8  85*/
    width: 140px;/* 175×0.8  175*/
  }

  .sizeC {
    height: 47.6px;/* 17×2.8  85*/
    width: 42px;/* 15×2.8  75*/
  }
}

@media screen and (max-width:350px) {
  .B {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 59.5px;
    width: 100%;
    top: 45%;
  }

  .C {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 42.5px;
    width: 100%;
    top: 70%;
  }

  .sizeBa {
    height: 59.5px;/* 17×3.5  85*/
    width: 52.5px;/* 15×3.5  85*/
  }
  
  .sizeBb {
    height: 59.5px;/* 17×3.5  85*/
    width: 112.5px;/* 35×3.5  175*/
  }
  
  .sizeC {
    height: 42.5px;/* 17×2.5  85*/
    width: 37.5px;/* 15×2.5  75*/
  }
}

@media screen and (max-width:320px) {
  .A {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 74.8px;
    width: 100%;
    top: 25%;
  }

  .C {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 37.4px;
    width: 100%;
    top: 70%;
  }

  .sizeA {
    height: 74.8px;/* 17×4.4  85*/
    width: 66px;/* 15×4.4  75*/
  }

  .sizeC {
    height: 37.4px;/* 17×2.2  85*/
    width: 33px;/* 15×2.2  75*/
  }
}
